body {
    font-size: 18px;
    background-color: #e6e6e6;
}

div#header {
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    background-color: #339966;
    background: linear-gradient(green, white) no-repeat;
}

    div#header h2 {
        font-family: Verdana, Geneva, sans-serif;
        font-weight: 900;
        color: white;
        font-size: 2em;
        margin-left: 20%;
        padding: 30px 0 0;
        left: 50px;
    }

    div#header img {
        float: left;
    }



div#content1 {
    /* margin: -14em 8em auto 18em;*/
    text-align: center;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-top:3em;
    margin-bottom: 3em;
}

    div#content1 p {
        padding: 5px;
    }

div#Pictures {
    display: block;
    margin-left: 14em;
    margin-right: auto;
    width: 50%;
}

div#footer {
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0;
    left = 0;
    background-color: #339966;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 200;
    color: Black;
    font-size: 1em;
    list-style-type: none;
    background: linear-gradient(white, green) no-repeat;
}


div#Main-nav {
    width: 100%;
    margin-left: 14em;
    margin-top: 2em;
    /* position: fixed;*/
}

    div#Main-nav ul {
        list-style-type: none;
    }

        div#Main-nav ul li a {
            list-style-type: none;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.1em;
            font-weight: 900;
            text-decoration: none;
            color: black;
            display: block;
            padding: .75em;
        }

        div#Main-nav ul li {
            background-color: #339966;
            text-align: center;
            display: inline;
            width: 17%;
            float: left;
            margin-left: .5em;
        }

        /*site navigation*/
        div#heartpic{
            -webkit-transition-duration: 3s;
             transition-duration: 3s;
            -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
        }
div#heartpic:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
div#firstpic {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
    div#firstpic:hover {
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }





    div#StoryBody h4 {
        text-align: center;
        margin-top: 7em;
    }

/*Contact Page Styling*/
form{
    padding: 10px;
}

/*fieldset styles*/
fieldset{
    margin-bottom: 0.8em;
}
legend{
    font-size: 1.25em;
}

.contactinfo legend, .interestinfo, .otherinfo{
    margin-left: -0.5em;

}

/*field styles*/
.contactinfo input, #adoptioninterest, textarea{
    border: 1px solid black;
    padding: 0.2em;
    font-size: 1em;
    
}
.contactinfo input{
    position:absolute;
    left: 5em;
}
#firstnamecontent, lastnamecontent {
    width: 20em;
}
#phonecontent {
    width: 15em;
}
#adoptioninterest {
    width: 20em;
}
#submitform{
    border: none;
    padding: 0.4em 0.6em;
    background-color: forestgreen;
    font-size: 1.25em;
    border-radius: 10px;
}
/*label styles*/
label {
    font-size: 1em;
    line-height: 1.6em;
}
.contactinfo label{
    display: block;
    position: relative;
    margin: 0.8em 0;
    
}
#phonecontent, #emailcontent, #firstnamecontent, #lastnamecontent {
    left: 7em;
}

/*smallscreen styles*/
@media screen and (min-width: 450px), print {
    div#header {
        width: 80%;
        height: 25%;
        top: 0;
        left: 0;
        background-color: #339966;
        background: linear-gradient(green, white) no-repeat;
    }
    div#Main-nav {
        left: 0;
        width: 80%;
        margin-left: 2em;
        margin-top: 2em;
    }
        div#Main-nav ul li a {
            list-style-type: none;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 0.5em;
            font-weight: 500;
            text-decoration: none;
            color: black;
            display: block;
            padding: .25em;
        }

        div#Main-nav ul li {
            background-color: #339966;
            text-align: center;
            display: inline;
            width: 17%;
            float: left;
            margin-left: 0.25em;
        }
    div#header h2 {
        font-family: Verdana, Geneva, sans-serif;
        font-weight: 600;
        color: white;
        font-size: 1em;
        margin-left: 20%;
        padding: 10px 0 0;
        left: 40px;
    }
    div#content1 {
        /* margin: -14em 8em auto 18em;*/
        text-align: center;
        overflow: hidden;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        margin-top: 2em;
        margin-bottom: 2em;
    }

        div#content1 p {
            padding: 3px;
        }

}
/*standard screen styles*/
@media screen and (min-width: 800px), print {
    div#header {
        width: 90%;
        height: 30%;
        top: 0;
        left: 0;
        background-color: #339966;
        background: linear-gradient(green, white) no-repeat;
    }
        div#header h2 {
            font-family: Verdana, Geneva, sans-serif;
            font-weight: 900;
            color: white;
            font-size: 2em;
            margin-left: 20%;
            padding: 30px 0 0;
            left: 50px;
        }
    div#content1 {
        /* margin: -14em 8em auto 18em;*/
        text-align: center;
        overflow: hidden;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        margin-top: 3em;
        margin-bottom: 3em;
    }

        div#content1 p {
            padding: 5px;
        }
    div#Main-nav ul li a {
        list-style-type: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.1em;
        font-weight: 900;
        text-decoration: none;
        color: black;
        display: block;
        padding: .75em;
    }

    div#Main-nav ul li {
        background-color: #339966;
        text-align: center;
        display: inline;
        width: 17%;
        float: left;
        margin-left: .5em;
    }
    div#Main-nav {
        width: 100%;
        margin-left: 10em;
        margin-top: 2em;
        /* position: fixed;*/
    }

}

/*Large screen styles*/
@media screen and (min-width: 1050px), print {
    div#header {
        width: 90%;
        height: 40%;
        top: 0;
        left: 0;
        background-color: #339966;
        background: linear-gradient(green, white) no-repeat;
    }

        div#header h2 {
            font-family: Verdana, Geneva, sans-serif;
            font-weight: 900;
            color: white;
            font-size: 2.2em;
            margin-left: 20%;
            padding: 30px 0 0;
            left: 50px;
        }

    div#content1 {
        /* margin: -14em 8em auto 18em;*/
        text-align: center;
        overflow: hidden;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        margin-top: 3em;
        margin-bottom: 3em;
    }

        div#content1 p {
            padding: 5px;
        }

    div#Main-nav ul li a {
        list-style-type: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.4em;
        font-weight: 900;
        text-decoration: none;
        color: black;
        display: block;
        padding: .75em;
    }

    div#Main-nav ul li {
        background-color: #339966;
        text-align: center;
        display: inline;
        width: 20%;
        float: left;
        margin-left: .5em;
    }

    div#Main-nav {
        width: 100%;
        margin-left: 10em;
        margin-top: 2em;
        /* position: fixed;*/
    }
}
